.Message {
  border-radius: 18px;
  box-sizing: border-box;

  min-width: 36px;
  max-width: 70%;

  margin: 4px 16px;
  padding: 10px 12px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  line-height: 1;

  position: absolute;
}

.Self {
  background: dodgerblue;
  color: white;

  align-self: flex-end;
}

.Other {
  background: lightgrey;
  color: #222;

  align-self: flex-start;
}

.Line {
  margin: 0;
}
